<div id="contact" class="container">
    <div class="left">
        <section class="contact-intro">
            <h1>Get in Touch</h1>
            <p>
                Whether you're interested in working together, have a project in mind, or just want to chat, 
                feel free to reach out to me. I am always open to new opportunities and collaborations.
            </p>
        </section>
        
        <section class="direct-contact">
            <h2>Direct Contact</h2>
            <p>
                <i class="fas fa-envelope"></i> 
                <span>Email: </span><a href="mailto:loifalda@gmail.com">loifalda&#64;gmail.com</a>
                <br />
                <i class="fas fa-phone"></i> 
                <span>Phone: </span><a href="tel:+33616836748">+33 6 16 83 67 48</a>
            </p>
        </section>
    </div>

    <div class="right card">
        <section class="contact-form">
            <h2>Contact Me</h2>
            <form id="contactForm">
                <fieldset>
                    <label for="name" aria-label="Your Name">Name</label>
                    <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Enter your name" required />
        
                    <label for="email" aria-label="Your Email">Email</label>
                    <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Enter your email" required />
                </fieldset>
        
                <fieldset>
                    <label for="message" aria-label="Your message">Message</label>
                    <textarea id="message" name="message" rows="5" [(ngModel)]="message" placeholder="Write your message here" required></textarea>
                </fieldset>
        
                <button type="button" (click)="sendMail()" class="button">
                    <i class="fas fa-envelope"></i> Send Message
                </button>
            </form>
        </section>
    </div>
</div>
