$primary-color: #04AA6D;
$darken-primary-color: darken($primary-color, 10%);

.navigation{
    // A sticky element toggles between relative and fixed, depending on the scroll position. 
    position: static;
    top: 0;

    // The element floats to the left of its container
    float: left;

    // The overflow is clipped, and the rest of the content will be invisible
    overflow: hidden;

    width: 100%;
    background-color: #333;
  
    a {
        // Display items horizontally
        display: inline-block;
        
        //  Set the horizontal alignment of the text.
        text-align: center;

        // Transition for smooth color change on hover
        transition: background-color 0.3s ease;
    

        color: #f1f1f1;;
        padding: 14px 16px;  
        border-right: 1px solid #555; 
        
        &:hover {
            background-color: $darken-primary-color;
        }

        &:last-child {
            border-right: none; 
        }

        &:focus {
            // Highlight the focused link
            outline: 2px solid $darken-primary-color;
        }
    }  

    // Change background color of the page-link the user is currently on
    .active {
        background-color: $primary-color;
    }    
}

// Change on small screen
@media (max-width: 768px) {
    .navigation {
        position: static;

        a {
            display: block;
            width: 100%; 
        }
    }
}