$padding: 20px;

.home {
    .call-to-actions {
        // Center titles and buttons
        text-align: center;  

        .call-to-action-projects {
            margin-bottom: 50px;
        }
    }
}

