<div id="home" class="container">
    <div class="left">
        <header class="title">
            <h1>Hello, I'm Falda Loïc</h1>
            <h2>Web developer</h2>
        </header>
        
        <article class="introduction">
            <p>
                As a beginner in the field of development, I am seeking an internship to further my learning. Highly motivated, 
                I aim to gain practical experience while honing my skills and actively contributing to real projects. 
                I am eager to collaborate with a dynamic team, tackle challenging tasks, and apply my knowledge in a professional environment. 
                I am excited about the opportunity to learn from industry experts and contribute to innovative solutions that make a difference.
            </p>
        </article>
    </div>
    
    <div class="right card">
        <section class="call-to-actions">
            <div class="call-to-action-projects">
                <h2>Take a look at my projects</h2>
                <button routerLink="projects" class="button">
                    <i class="fas fa-folder-open"></i> Projects
                </button>
            </div>
            
            <div class="call-to-action-contact">
                <h2>Get in touch</h2>
                <button routerLink="contact" class="button">
                    <i class="fas fa-envelope"></i> Contact
                </button>
            </div>
        </section>
    </div>
</div>
