<div class="home-container">
    <section class="title">
        <h1>Hello, I'm Falda Loïc</h1>
        <h2>Web developer</h2>
    </section>
    
    <section class="introduction">
        <h3>
            As a beginner in the field of development, I am seeking an internship to further my learning. 
            Highly motivated, I aim to gain practical experience while honing my skills and actively contributing to real projects.
        </h3>
    
    </section>
    
    <section class="call-to-actions">
        <h3>My projects</h3>
        <button routerLink="projects">cta projets</button>

        <h3>Get in touch</h3>
        <button routerLink="contact">cta contact</button>
    </section>
</div>